* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 244, 13);
}

h6 {
  font-size: 32px;
  font-weight: lighter;
  color: rgb(21, 21, 236);
  letter-spacing: 20px;
  text-align: center;
  text-decoration: underline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

section {
  background-color: rgb(158, 240, 5);
  width: 50%;
  height: 400px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 4px 0px 5px 19px rgba(243, 64, 4, 0.75);
  -webkit-box-shadow: 4px 0px 5px 19px rgb(255, 244, 45);
  -moz-box-shadow: 4px 0px 5px 19px rgb(255, 0, 221);
  border: 10px solid rgb(0, 0, 0);
  padding: 20px;
  transition: 1s all ease-in-out;
}
section:hover {
  transform: scale(1.2);
  transition: 1s all ease-in-out;
}
